.Home {
    &__hero {
        background: #040D16;
        padding-bottom: 20px;
    }

    &__content {
        display: flex;
        align-items: center;
        margin-top: -70px;

        @media screen and (max-width:1300px) {
            margin-top: -10px;
        }

        @media screen and (max-width:1000px) {
            margin-top: 0;
        }

        @media screen and (max-width:770px) {
            flex-wrap: wrap-reverse;
            margin-top: -50px;
            justify-content: center;
        }

        @media screen and (max-width:430px) {
            margin-top: -10px;
        }

        &__img {
            width: 100%;
            max-width: 700px;

            @media screen and (max-width:770px) {
                max-width: 500px;
                margin-bottom: 33px;
            }



            img {
                width: 100%;
            }
        }

        &__left {
            width: 100%;
            max-width: 600px;

            @media screen and (max-width:770px) {
                text-align: center;
            }
        }

        &__span {
            color: #FFF;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.66px;
            text-transform: uppercase;
            opacity: 0.6;

            @media screen and (max-width:1300px) {
                font-size: 18px;
            }

            @media screen and (max-width:1100px) {
                font-size: 16px;
            }

            @media screen and (max-width:1000px) {
                font-size: 14px;
            }

            @media screen and (max-width:770px) {
                text-align: center;
            }

            @media screen and (max-width:480px) {
                font-size: 14px;
            }
        }

        &__title {
            color: #FFF;
            font-family: Inter;
            font-size: 64px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -3.2px;

            @media screen and (max-width:1100px) {
                font-size: 48px;
            }

            @media screen and (max-width:1000px) {
                font-size: 40px;
                font-weight: 800;
            }

            @media screen and (max-width:770px) {
                text-align: center;
                margin-top: 7px;
                margin-bottom: 7px;
            }

            @media screen and (max-width:480px) {

                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }

        &__text {
            color: #FFF;
            font-family: Inter;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 141.176% */
            letter-spacing: -0.51px;
            opacity: 0.6;

            @media screen and (max-width:1100px) {
                font-size: 14px;
            }

            @media screen and (max-width:1000px) {
                font-size: 13px;
                line-height: 14px;

            }

            @media screen and (max-width:770px) {
                text-align: center;
            }
        }

        &__btn {
            display: inline-block;
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 10000px;
            background: #00B207;
            padding: 18px 22px;
            padding-right: 16px;
            border: none;
            margin-top: 37px;
            animation: glowing 2300ms infinite;
            cursor: pointer;

            @media screen and (max-width:770px) {
                margin-bottom: 38px;
            }
        }
    }

    &__serive {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px;

        @media screen and (max-width:1200px) {
            margin-top: 10px;
        }

    }

    &__aboutUs {
        margin-bottom: 94px;


        &__title {
            color: #040D16;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 31px;

            @media screen and (max-width:900px) {
                margin-bottom: 16px;
                font-size: 22px;
            }
        }

        &__wrap {
            width: 100%;
            padding: 44px 44px 80px 49px;
            display: flex;
            align-items: flex-start;
            gap: 100px;
            border-radius: 7px;
            background: linear-gradient(0deg, #FFF 0%, #FFF 100%);

            @media screen and (max-width:900px) {
                display: inline-block;
                padding: 30px;
                padding-left: 20px;
            }

        }

        &__text {
            color: #040D16;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            width: 100%;
            max-width: 520px;

            @media screen and (max-width:900px) {
                max-width: 100%;
            }

            @media screen and (max-width:500px) {
                font-size: 14px;
            }

            &:nth-child(2) {

                @media screen and (max-width:900px) {
                    margin-top: 20px;
                }
            }
        }
    }

    &__Advantage {
        margin-bottom: 170px;

        @media screen and (max-width:1000px) {
            margin-bottom: 40px;

        }

        &__title {
            color: #040D16;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;

            @media screen and (max-width:600px) {
                text-align: center;
                font-size: 22px;

            }
        }

        &__text {
            color: #040D16;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            opacity: .4;
            width: 100%;
            max-width: 584px;
            margin-top: 10px;
            margin-bottom: 40px;

            @media screen and (max-width:600px) {

                text-align: center;

                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.39px;
                margin: 0 auto;
                margin-top: 3px;
                margin-bottom: 21px;
                width: 309px;
            }
        }

        &__wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
            justify-content: space-between;
        }
    }

    &__contentUs {
        display: flex !important;
        justify-content: space-between !important;
        margin-bottom: 126px !important;

        @media screen and (max-width:1000px) {
            display: inline-block !important;
            margin-bottom: 46px !important;
        }
    }

    &__Partnors {
        &__title {
            color: #040D16;
            text-align: center;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 32px;

            @media screen and (max-width:800px) {
                font-size: 22px;
                font-weight: 700;




            }
        }

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 70px;

            @media screen and (max-width:800px) {
                flex-wrap: nowrap;
                overflow-y: scroll;
            }

        }

        &__Container {
            background-color: #FFF !important;
            padding-top: 97px !important;
            padding-bottom: 166px !important;

            @media screen and (max-width:800px) {
                background-color: #F2F2F2 !important;
                padding-top: 46px !important;
                padding-bottom: 77px !important;
            }
        }
    }

    &__Add {
        &__Container {

            display: flex;
            align-items: center;


            @media screen and (max-width:620px) {
                flex-direction: column;
            }
        }

        background-color: #049874;

        &__title {
            width: 100%;
            max-width: 395px;
            color: #FFF;
            font-family: Inter;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 35px;

            @media screen and (max-width:900px) {
                font-size: 24px;
                line-height: 27px;
            }

            @media screen and (max-width:620px) {
                max-width: 100%;
                margin-top: 38px;
                text-align: center;
            }
        }

        &__text {
            width: 100%;
            max-width: 455px;
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            opacity: 0.6;
            margin-top: 19px;



            @media screen and (max-width:900px) {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
            }

            @media screen and (max-width:620px) {
                text-align: center;
                margin-bottom: 14px;
            }
        }

        &__img {
            width: 100%;
            max-width: 787px;
            position: relative;

            div {
                width: 45%;
                height: 34%;
                border-bottom-right-radius: 50px;
                background-color: #049874;
                position: absolute;
                top: 0;
                left: 0;

            }

            img {
                width: 100%;
            }
        }
    }
}

@keyframes glowing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 10px 5px #2ba805;
    }

    33% {
        background-color: #49e819;
        box-shadow: 0 0 21px 10px #49e819;
    }

    66% {
        background-color: #49e819;
        box-shadow: 0 0 37px 10px #49e819;
    }

    100% {
        background-color: #2ba805;
        box-shadow: 0 0 10px 5px #2ba805;
    }
}