.Footer {
    background: #040D16;
    padding: 40px 20px;
    text-align: center;

    &__title {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 25px;
    }

    &__text {
        color: rgb(255, 255, 255, .6);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        max-width: 455px;
        text-align: center;
        margin: 0 auto;

        &:last-child {
            margin-top: 18px;
            width: 100%;
            max-width: 222px;

        }
    }
}