.Requies {
    border-radius: 22px;
    background: #FFF;
    width: calc((100% - 24px) / 2);
    padding: 57px 49px;
    padding-right: 73px;
    text-align: center;

    @media screen and (max-width:1000px) {
        width: 100%;
        margin-bottom: 20px;

    }

    @media screen and (max-width:450px) {
        padding: 30px 19px;
    }

    &__title {
        color: #040D16;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        width: 100%;
        max-width: 400px;
        margin-bottom: 60px;

        @media screen and (max-width:680px) {
            margin: 0 auto;
            margin-bottom: 30px;
            max-width: 254px;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;

        }

    }



    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        margin-bottom: 29px;
    }

    &__input {
        border-radius: 7px;
        border: 1px solid rgba(4, 13, 22, 0.10);
        background: #FFF;
        padding: 21px 20px;
        width: calc((100% - 3px) / 2);


        @media screen and (max-width:680px) {
            width: 100%;
        }

        &:nth-child(5) {
            width: 100%;
            padding-top: 16px;
            height: 144px;
        }
    }

    &__btn {
        border-radius: 10px;
        background: #00B207;
        padding: 15px 40px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
    }
}