.FlyTime {
    padding-top: 85px;
    background: linear-gradient(180deg, #EEF9FF 0%, #EEF9FF 46.18%, #EDF8FE 61.00%, #D9E6EE 100%);
    margin-bottom: 92px;

    &__Images {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    &__title {
        color: #040D16;
        font-family: Inter;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        opacity: .8;
        margin-bottom: 26px;

        @media screen and (max-width:770px) {

            text-align: center;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @media screen and (max-width:770px) {
            flex-wrap: wrap;
        }
    }

    &__card {
        width: 100%;
        max-width: 470px;
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0px 24px 54px 0px rgba(216, 230, 238, 0.53);
        padding: 16px 0 30px 24px;

        @media screen and (max-width:770px) {
            max-width: 100%;
            text-align: center;
            padding-top: 18px;
            padding-bottom: 20px;
        }

        &__title {
            color: #040D16;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            opacity: .8;

            @media screen and (max-width:770px) {

                font-size: 16px;

            }

        }

        &__text {
            color: #040D16;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            opacity: .4;


        }
    }

    &__time {
        color: #040D16;
        text-align: center;
        font-family: "DS-Digital";
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        span {
            animation-duration: .8s;
            animation-name: test;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @media screen and (max-width:770px) {
            color: #040D16;

            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 3px;
            margin-bottom: 16px;
        }
    }
}

@keyframes test {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}