.Header {
    &__top {
        display: flex;
        align-items: flex-start;
        padding-top: 34px;
        padding-bottom: 14.5px;

        @media screen and (max-width:690px) {
            padding-top: 12px;
            padding-bottom: 0;
            align-items: center;
            justify-content: space-between;
        }

        img {
            width: 192px;

            @media screen and (max-width:750px) {
                width: 150px;

            }

            @media screen and (max-width:690px) {
                margin-right: auto;
                margin-left: 30px;
            }

            @media screen and (max-width:450px) {
                margin-right: 0;
                margin-left: 0;
            }
        }


    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: auto;
        padding-top: 12px;
        padding-right: 40px;

        @media screen and (max-width:750px) {

            gap: 10px
        }

        @media screen and (max-width:690px) {
            padding-top: 19px;
            padding-right: 0px;
            justify-content: center;

        }

        a {
            color: #DDD;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media screen and (max-width:400px) {
                font-size: 12px;
            }
        }
    }

    &__language {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #DDD;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
        cursor: pointer;

        &__btn {
            display: flex;
            align-items: center;
            margin-top: 12px;
            cursor: pointer;
            color: #DDD;
            color: #FFF;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            text-decoration-line: underline;
            gap: 4px;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;

        @media screen and (max-width:1070px) {
            justify-content: center;
        }
    }

    &__navbar {
        display: flex;
        align-items: center;
        gap: 30px;

        &__text {
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            z-index: 100;

            @media screen and (max-width:870px) {
                font-size: 14px;
            }

            &:hover {
                opacity: 0.5;
            }

            &:active {
                opacity: 1;
            }
        }
    }

    &__btn {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(17px);
        border: 1px solid rgba(255, 255, 255, 0.10);
        border-radius: 10000px;
        color: #FFF;
        text-align: right;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 16px 30px;

        &:hover {
            background-color: #FFF;
            color: black;
            backdrop-filter: blur(17px);
        }
    }

    &__humberger {

        background: #DDD;
        width: 34px;
        height: 2px;
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            width: 34px;
            height: 2px;
            background: #DDD;
            position: absolute;
            top: -7px;
            left: 0;

        }

        &::after {
            content: "";
            display: inline-block;
            width: 34px;
            height: 2px;
            background: #DDD;
            position: absolute;
            top: 7px;
            left: 0;

        }

    }


    &__openHumberger {

        background: transparent;
        position: relative;


        &::before {
            content: "";
            display: inline-block;
            width: 34px;
            height: 2px;
            background: #DDD;
            position: absolute;
            top: 0px;
            left: 0;
            transform: rotate(45deg);

        }

        &::after {
            content: "";
            display: inline-block;
            width: 34px;
            height: 2px;
            background: #DDD;
            position: absolute;
            top: 0px;
            left: 0;
            transform: rotate(-45deg);

        }

    }
}