.faq {
    border-radius: 22px;
    background: #FFF;
    width: calc((100% - 24px) / 2);
    padding: 57px 50px;

    &__title {
        color: #040D16;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }

    &__text {
        color: #040D16;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        opacity: .6;
        margin-top: 12px;
        margin-bottom: 54px;
        width: 100%;
        max-width: 419px;
    }

    &__quation {
        color: #040D16;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 128%;
        padding: 19px 20px;
        border-radius: 10px;
        background: #F2F2F2;
        cursor: pointer;
        margin-bottom: 5px;
    }
}